* {
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(img/bg-dino.png);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: 100% 100%;
}
header form {
	display: flex;
	flex-direction: row;
	gap: 50px;
	width: 500px;
	margin-top: 80px;
}
form button {
	border-radius: 10px;
	background-color: rgb(170, 239, 170);
	width: 100%;
	color: brown;
	border: 2px solid brown;
	background-color: #fff;
}
form button:hover {
	background-color: #b9b9b9;

}
form input {
	text-decoration: none;
	color: #000;
	border-radius: 5px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.container img {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}
.container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	gap: 30px;
}
#skins-container {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	width: 50%;
}

.skin-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 600px;
}
main h1 {
	margin-top: 30px;
}
main {
	background-color: rgb(200, 200, 200);
}
