* {
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(img/bg-dino.png);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: 100% 100%;
}
header form {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 200px;
	margin-top: 80px;
	padding: 100px 30px;
}
form button {
	border-radius: 10px;
	background-color: rgb(170, 239, 170);
	width: 100%;
	color: green;
	border: 2px solid green;
	background-color: #000;
}
form a {
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #000;
}
form input {
	text-decoration: none;
	color: #000;
	border-radius: 5px;
	width: 100%;
	display: flex;
	justify-content: center;
}